*{
  margin : 0;
  padding: 0;
}



.container {
  padding-top: 2%;
 width: 878px;
  margin: 0 auto;
}

img{
  width: 77px;
  height: 77px;
  padding-left: 20px;
  padding-top: 12px;
  position: relative;
}
.card {
  float: left;
  margin: 3%;
  height: 100px;
  width: 120px;
  border-radius: 5px;
  background-color:rgb(230, 230, 230);
  -webkit-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
}

.card:hover {
  cursor: pointer;
}

.card:active{
  color: #000;

box-shadow: 1px 1px 10px grey inset,
            0 1px 0 rgba( 255, 255, 255, 0.4);
}

header{
  position: relative;
  background: -webkit-linear-gradient(top, #ff0000 96%, #000 0% );
  height: 150px;
  }


footer{
  background: -webkit-linear-gradient(top, #000 0%, #000 4%, #ff0000 0%);
  height: 150px;


}

#circle{
  position: absolute;
  width: 80px;
  height: 80px;
  top: 97%;
  left: 50%;
  margin: -40px 0 0 -40px;
  background: -webkit-radial-gradient(circle,
              #fff,
              #fff 40%,
              #000 40%,
              #000 45%,
              #fff 45%,
              #fff 55%,
              #000 55%);
  border-radius: 40px;
}

/* BOUTON PLAY */
.button{
  position: fixed;
  top: 0px;
  left: 0px;
  height: calc(100vh);
  width: 100%;
  background-color: rgba(169, 0, 0, .8);
display: none;

}

h1{
text-align: center;
line-height: calc(100vh);
font-size: 200px;
color: white;
font-family: 'Cabin', sans-serif;
}

h1:hover {
  cursor: pointer;
}


main {
  height: calc(100vh - 200px);
}

p{
text-align: center;
margin-top: 80px;
font-family: 'Cabin', sans-serif;
font-size: 45px;

}

/* --------------------------------- */

.container:after{
  content: ""; /* Important, sinon l'élément n'est pas généré. */
display: table;
clear: both;
}
}
