*{
  margin : 0;
  padding: 0;
}

header{

  height: 10em;
  line-height: 10em;
  white-space: nowrap;
}


.container {
  padding-top: 5%;
max-width: 878px;
  margin: 0 auto;
}

img{
  width: 77px;
  height: 77px;
  padding-left: 23px;
  padding-top: 15px;
  position: relative;
}
.card {
  float: left;
  margin: 3%;
  height: 100px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #ccc;
}

.card:hover {
  cursor: pointer;
}

.card:active{
  color: #000;
box-shadow: 1px 1px 10px grey inset,
            0 1px 0 rgba( 255, 255, 255, 0.4);
}

header{
  position: relative;
  background: -webkit-linear-gradient(top, #ff0000 96%, #000 0% );
  height: 100px;
}

footer{
  position: relative;
  background: -webkit-linear-gradient(top, #000 0%, #000 4%, #ff0000 0%);
  height: 100px;
}

#circle{
  position: absolute;
  width: 80px;
  height: 80px;
  top: 97%;
  left: 50%;
  margin: -40px 0 0 -40px;
  background: -webkit-radial-gradient(circle,
              #fff,
              #fff 40%,
              #000 40%,
              #000 45%,
              #fff 45%,
              #fff 55%,
              #000 55%);
  border-radius: 40px;
}

/* BOUTON PLAY */
.button{
  position: absolute;
  top: 0px;
  left: 0px;
  height: calc(100vh);
  width: 100%;
  display: none;
}

/* --------------------------------- */

main{
  height: 784px;
}
